.chart-item {
  background-color: #dddddd;
  margin: 5px;
  padding: 6px 6px 3px 6px;
  /* padding: 5px; */
  /* padding-top: 10px; */
  border-radius: 10px;
  border: 2px double gray;
  color: black;
}

#position {
  width: 30px;
  font-size: 20pt;
  /* padding-right: 5px; */
  padding-left: 5px;
}

img {
  margin-right: 10px;
  margin-left: 5px;
  height: 45px;
}
